Zadanie 1

In [92]:
# 1
# 12
# 123

n = input("Podaj liczbę całkowitą dodatnią: ")

if n.isdigit():
  ciag = str(1)
  n = int(n)

  for i in range(1,n):
    print(ciag)
    ciag = ciag+str(i+1)

else:
  print ("To nie jest liczba całkowita dodatnia.")

Podaj liczbę całkowitą dodatnią: 6
1
12
123
1234
12345

Zadanie 2

In [93]:
# *
# **
# ***
# **
# *

num_of_rows = 6
for i in range(num_of_rows):
  print("*"*i)
  if i == num_of_rows-1:
    for i in reversed(range(num_of_rows-1)):
      print("*"*i)

*
**
***
****
*****
****
***
**
*

Zadanie 3

In [94]:
lista = [6, 2, 3, 7, 1, 12, 56, 99]

#A
for liczba in lista:
  if len(str(liczba))==2:
    liczba = str(liczba)
    print(liczba, type(liczba))

#B
lista.sort()
print("Najmniejsza wartość listy:", lista[0])

12 <class 'str'>
56 <class 'str'>
99 <class 'str'>
Najmniejsza wartość listy: 1