In [ ]:
print ("""Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua.""")

In [ ]:
i = 5
f = 3.2
b = True
s = "panda"
print (i, f, b, s)

In [ ]:
x1 = 5
x2 = 13
print (x1 + x2)
print (x1 - x2)
print (x1 * x2)
print (x1 / x2)
print (x1 % x2)
print (x1 ** x2)

In [17]:
y1 = 3.2
y2 = 3.22
print (y1 == y2)
print (y1 != y2)
print (y1 > y2)
print (y1 < y2)
print (y1 >= y2)
print (y1 <= y2)

False
True
False
True
False
True

In [ ]:
s1 = "red"
s2 = "panda"
print ("<-", s1, "|", s2, "->")